<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/assets/style/portfolio2.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style/gameStyle.css">
    <link rel="stylesheet" href="/assets/style/effect.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>



<body>


    <main data-barba="container" data-barba-namespace="home">
        <header>


            <div class="arrowRight" onclick="location.href='/views/contact.html'">
                <a href="/views/contact.html">
                    <span></span>
                </a>
                <div class="textApparition">
                    <a href="/views/contact.html">contact</a>
                </div>

            </div>

            <div class="arrowLeft" onclick="location.href='/views/index.html'">
                <a href="/views/index.html">
                    <span></span>
                </a>
                <div class="textApparitionLeft left">
                    <a href="/views/index.html"> A propos</a>
                </div>
            </div>

            <div class="burger">
                <span></span>
            </div>
            <nav class="menu">
                <a class="btn from-left" href="/views/index.html">A propos</a>
                <a class="btn from-top" href="/views/portfolio.html">portfolio</a>
                <a class="btn from-right" href="/views/contact.html">contact</a>
            </nav>
            <div class=overlay></div>

            <div id="headContainer">
                <h1>PORTFOLIO APPRENTI DEVELOPPEUR WEB</h1>
                <P>
                    Découvrez mes derniers projets de développement web.
                </P>
                <div class="filters">
                    <li class="filterButton" onclick="projectFilter('all')" title="filtrer par tout afficher">

                        <span>afficher tout</span>

                    </li>

                    <li class="filterButton" onclick="projectFilter('html5')" title="filtrer par html">
                        <span>Html 5</span>
                    </li>

                    <li class="filterButton" onclick="projectFilter('javascript')" title="filtrer par javaScript">
                        <span>javascript</span>
                    </li>

                    <li class="filterButton" onclick="projectFilter('scss')" title="filtrer par scss">
                        <span>Scss</span>
                    </li>

                    <li class="filterButton" onclick="projectFilter('php')" title="filtrer par php">
                        <span>Php</span>
                    </li>

                    <li class="filterButton" onclick="projectFilter('react')" title="filtrer par react">
                        <span>React</span>
                    </li>
                    <li class="filterButton" onclick="projectFilter('nodejs')" title="filtrer par node jd">
                        <span>Node JS</span>
                    </li>
                    <!-- <li class="filterButton" onclick="projectFilter('vuejs')" title="filtrer par vue js">
                        <span>Vue JS</span>
                    </li> -->

                    <p>
                        affichage des projets, utiliser le filtre pour les classer par technologie utilisé
                    </p>

                </div>


            </div>

        </header>


        <h2 class="projectTitle">Projet perso</h2>

        <a href="/views/projetPortfolio.html">
            <div id="articleContainer">
                <div class="box html5 css javascript nodejs">
                    <div class="title">
                        <h3>Portfolio</h3>
                    </div>
                    <div class="boxImage techno1">
                        <img src="/medias/imagesPortfolio/projet1.png" alt="image projet 1">
                    </div>
                    <div class="tags">
                        <ul class="techno">
                            <li class="project1">html</li>
                            <li class="project1">Css</li>
                            <li class="project1">javaScript</li>
                            <li class="project1">node js</li>

                        </ul>
                    </div>
                </div>
        </a>

        <a href="/views/jsBreaker.html">
            <div class="box html5 javascript">
                <div class="title">
                    <h3>JS-space-breaker</h3>
                </div>

                <div class="boxImage">
                    <img src="/medias/imagesPortfolio/projet2.png" alt="image projet 1">
                </div>
                <div class="tags">
                    <ul class="techno">
                        <li class="project2">html5</li>
                        <li class="project2">javaScript</li>
                    </ul>
                </div>

            </div>
        </a>


        <h2 class="projectTitle">Projets professionnel/Formation</h2>

        <div id="articleContainer">
            <div class="box php javascript">
                <div class="title">
                    <h3>Simplon Marketplace</h3>
                </div>
                <div class="boxImage techno1">
                    <img src="/medias/imagesPortfolio/attente.png" alt="image projet 1">
                </div>
                <div class="tags">
                    <ul class="techno">
                        <li class="project1">php</li>
                        <li class="project1">Css</li>
                        <li class="project1">javaScript</li>
                    </ul>
                </div>
            </div>

            <div class="box">
                <div class="title">
                    <h3>Projet wordpress</h3>
                </div>

                <div class="boxImage">
                    <img src="/medias/imagesPortfolio/attente.png" alt="image projet 1">
                </div>
                <div class="tags">
                    <ul class="techno">
                        <li class="project2">wordpress</li>
                    </ul>
                </div>
            </div>
            <a href="/views/projetChefDoeuvre.html">
                <div class="box react scss nodejs">
                    <div class="title">
                        <h3>Projet chef d'oeuvre</h3>
                    </div>
                    <div class="boxImage">
                        <img src="/medias/imagesPortfolio/ProjetChefDoeuvre.PNG" alt="image projet 1">
                    </div>
                    <div class="tags">
                        <ul class="techno">
                            <li class="project1">node js</li>
                            <li class="project1">express</li>
                            <li class="project1">react</li>
                            <li class="project1">scss</li>
                            <li class="project1">mongoDB</li>
                        </ul>
                    </div>
                </div>
            </a>

        </div>



        <footer>
            <div class="presentation-footer">
                <h3>Parlons-en</h3>
                <p>
                    Vous voulez prendre contact ou parler d'un projet ? <br>
                    N'hésitez pas à me contacter par courrier électronique à l'adresse suivante
                </p>
                <p>landrykf@gmail.com</p>
                <p>ou remplissez le formulaire de contact sur la <a href="/views/contact.html">page de contact</a></p>
            </div>

        </footer>
    </main>


    <script src="/src/main.js"></script>
</body>

</html>