<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/portfolio2.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/gameStyle.css">

    <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">  -->


    <title>Contact</title>
</head>

<body data-barba="wrapper" id="headContainer">

    <main>

        <div class="arrowLeft" onclick="location.href='/portfolio.html'">
            <a href="/portfolio.html">
                <span></span>
            </a>
            <div class="textApparitionLeft">
                <a href="/portfolio.html">portfolio</a>
            </div>
        </div>

        <div class="burger">
            <span></span>
        </div>
        <nav class="menu">
            <a class="btn from-left" href="/index.html">A propos</a>
            <a class="btn from-top" href="/portfolio.html">portfolio</a>
            <a class="btn from-right" href="/contact.html">contact</a>
        </nav>
        <div class=overlay></div>

        <div class="contactPage">

            <header>
                <h1>Prendre Contact</h1>
                <p>
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant
                    impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand
                    un
                    imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices
                </p>
            </header>


            <section>





                <div class="form">
                    <form method="text" action="/maPageDeContact">
                        <p>
                            <label for="ameliorer"><small>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Libero, placeat!</small> </label><br />
                            <textarea name="ameliorer" id="ameliorer" rows="3" cols="80"> envoyer un message </textarea>
                        <div class="button">
                            <span>Suivant</span>
                            <button>Envoyer Un Message</button>
                        </div>

                        </p>
                    </form>
                </div>
            </section>

            <footer>

                <div class="reseauxContact">
                    <h3>Lorem ipsum dolor sit.</h3>


                    <span>
                        <a href="http://github.com"><img src="/medias/imagesPortfolio/github.png" alt="twitter"></a>
                    </span>
                    <span>
                        <a href="http://linkedin.com"><img src="/medias/imagesPortfolio/linkedin.png"
                                alt="linkedin"></a>
                    </span>
                    <span>
                        <a href="http://twitter.com"><img src="/medias/imagesPortfolio/twitter.png" alt="twitter"></a>
                    </span>
                    <span>
                        <a href="http://facebook.com"><img src="/medias/imagesPortfolio/facebook.png"
                                alt="facebook"></a>
                    </span>

                </div>
            </footer>
        </div>
    </main>


    <script src="src/main.js"></script>
</body>

</html>