<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/style/portfolio2.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/gameStyle.css">
    <link rel="stylesheet" href="/style/effect.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>



<body>

        <header>


            <div class="arrowRight" onclick="location.href='/contact.html'">
                <a href="/contact.html">
                    <span></span>
                </a>
                <div class="textApparition">
                    <a href="/contact.html">contact</a>
                </div>

            </div>

            <div class="arrowLeft" onclick="location.href='/portfolio.html'">
                <a href="/portfolio.html">
                    <span></span>
                </a>
                <div class="textApparitionLeft left">
                    <a href="/index.html"> portfolio </a>
                </div>
            </div>

            <div class="burger">
                <span></span>
            </div>
            <nav class="menu">
                <a class="btn from-left" href="/index.html">A propos</a>
                <a class="btn from-top" href="/portfolio.html">portfolio</a>
                <a class="btn from-right" href="/contact.html">contact</a>
            </nav>
            <div class=overlay></div>

        </header>



        <div class="presentationContainer">

            <div class="presentation">

                <h3>Portfolio</h3>
                <p>Novembre 2020, Javascript</p>
                <p>
                <a href="http://github.com">git repository</a>
                </p>

            <div>
                <p>
                      portfolio personnel réaliser en html, css et javascript. Ce challenge à été réaliser en 1 semaine, Mon tout premier projet de formation développé à Simplon.co. Ce projet m'as permis de mieux organiser mon code. Il a ensuite été modifié pour intégrer le jeu à la page d'accueil            
                </p>
                <p> <a href="/portfolio.html"> Voir le projet en ligne >> </a> </p>
            </div>


        </div>

            <div class="animation">

                <div class="animation-box">
                    <div class="animation-title">
                        <h3>color</h3>
                    </div>
                    <a href="/index.html">
                        <img src="/medias/imagesPortfolio/projet1.png" alt="image jeu" >
    
                        <div>
                            <h2> Cliquez ici</h2>
                        </div>
                    </a>
                </div>
   
            </div>

            <footer>
                <div class="presentation-footer">
                    <h3>Parlons-en</h3>
                    <p> 
                    Vous voulez prendre contact ou parler d'un projet ? <br>
                    N'hésitez pas à me contacter par courrier électronique à l'adresse suivante 
                    </p>
                    <p>landrykf@gmail.com</p>
                    <p>ou remplissez le formulaire de contact sur la <a href="/contact.html">page de contact</a></p>
                </div>
            
            
            </footer>

        </div>






<script src="script/main.js"></script>
</body>

</html>